@import url("./fonts.css");

* {
    margin: 0;
    box-sizing: border-box;
}

.container-advantages {
    margin: 0 auto;
    max-width: 1440px;
}

.offer {
    text-align: center;
    font-weight: 500;
    font-size: 40px;
    margin: 120px 0 80px 0;
    font-family: 'Roboto', serif;
    font-style: normal;
    line-height: 47px;
}

.container-logo {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.logo {
    font-family: 'Roboto', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
}

footer {
    margin: 0 auto;
    width: 1440px;
}

.footer-background {
    background-color: #10367C;
}

.container-footer {
    display: flex;
    flex-wrap: wrap;
    margin-top: 120px;
}

.footer.first {
    padding-left: 100px;
}

.footer {
    width: 33.3333%;
    padding-top: 120px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 47px;
    color: #FFFFFF;
}

.footer-header {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #FFFFFF;
}

.footer-text {
    padding: 60px 1080px 120px 100px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}

